* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  color: #f5f5f5;
  background: radial-gradient(circle at bottom, #0b3d91, #000);
  overflow-x: hidden;
}

.stars {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.star {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  animation: twinkle infinite ease-in-out;
}

.venus {
  box-shadow: 0 0 10px 2px  #f5f5f5;
  background-color: #fff;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
    box-shadow: #ffffff00 0 0 3px;
  }
  20% {
    opacity: 0.7;
    box-shadow: #ffffff 0 0 3px;
  }
  30% {
    opacity: 0.7;
    box-shadow: #ffffff00 0 0 3px;
  }
  31% {
    opacity: 1;
    box-shadow: #ffffff00 0 0 3px;
  }
  100% {
    opacity: 0.3;
    box-shadow: #ffffff00 0 0 3px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
header h2 {
  font-family: "Boldonse", system-ui;
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.7;
}

.countdown_container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.countdown_container :first-child {
  margin-top: auto;
  margin-bottom: 20px;
}
.countdown_container :last-child {
  margin-bottom: auto;
}

.countdown_container table td {
  width: 50%;
  font-weight: 500;
}

.countdown_container h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}